body {
  
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

#heading1 {
  color: rgb(214, 214, 214);
  background-color: rgb(40, 11, 16);
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: 'Sigmar One', cursive;
}

#weatherButton {
  display: grid;
  margin: auto;
}

h5 {
    text-align: center;
    font-family: 'Sacramento', cursive;
    padding-top: 10px;
}
